
@import url("textstyles-1.css");

/***
 * Main site layout	
 */

/* begin: text which covers feature image */
/*
.site-brand-container > header, .main > article > header {
	color: white;
}
*/
.background--light {
  color: black;
}
.background--dark {
  color: white;
}
/* end: text which covers feature image */

.right-menu span {
	font-size: 2.4em;
    float: left;
/*     margin-top: -0.08em; */
}

/***
 *  Tools
 */
.is--hidden {
	display: none;
}
.is--invisible {
	visibility: hidden;
	opacity: 0;
}
.is--fadeable {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 1.5s cubic-bezier(.23, .47, .32, 1);
	-moz-transition: opacity 1.5s cubic-bezier(.23, .47, .32, 1);
	-ms-transition: opacity 1.5s cubic-bezier(.23, .47, .32, 1);
	-o-transition: opacity 1.5s cubic-bezier(.23, .47, .32, 1);
	transition: opacity 1.5s cubic-bezier(.23, .47, .32, 1);
	-webkit-transition: visibility 1.5s cubic-bezier(.23, .47, .32, 1);
	-moz-transition: visibility 1.5s cubic-bezier(.23, .47, .32, 1);
	-ms-transition: visibility 1.5s cubic-bezier(.23, .47, .32, 1);
	-o-transition: visibility 1.5s cubic-bezier(.23, .47, .32, 1);
	transition: visibility 1.5s cubic-bezier(.23, .47, .32, 1);
}
.is--revealed {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 1.2s cubic-bezier(.23, .47, .32, 1);
	-moz-transition: opacity 1.2s cubic-bezier(.23, .47, .32, 1);
	-ms-transition: opacity 1.2s cubic-bezier(.23, .47, .32, 1);
	-o-transition: opacity 1.2s cubic-bezier(.23, .47, .32, 1);
	transition: opacity 1.2s cubic-bezier(.23, .47, .32, 1);
	-webkit-transition: visibility 1.2s cubic-bezier(.23, .47, .32, 1);
	-moz-transition: visibility 1.2s cubic-bezier(.23, .47, .32, 1);
	-ms-transition: visibility 1.2s cubic-bezier(.23, .47, .32, 1);
	-o-transition: visibility 1.2s cubic-bezier(.23, .47, .32, 1);
	transition: visibility 1.2s cubic-bezier(.23, .47, .32, 1);
}


/***
 *  Layout
 */
.main-container {
	width: 100%;
	position: relative;
	overflow: hidden;
	background-color: #fff f;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-ms-transition-property: -ms-transform;
	-o-transition-property: -o-transform;
	-webkit-transition-property: transform;
	-webkit-transition-duration: .5s;
	-webkit-transition-timing-function: cubic-bezier(.33,0,.2,1);
	-webkit-transition-delay: 0;
	-moz-transition-property: transform;
	-moz-transition-duration: .5s;
	-moz-transition-timing-function: cubic-bezier(.33,0,.2,1);
	-moz-transition-delay: 0;
	-ms-transition-property: transform;
	-ms-transition-duration: .5s;
	-ms-transition-timing-function: cubic-bezier(.33,0,.2,1);
	-ms-transition-delay: 0;
	-o-transition-property: transform;
	-o-transition-duration: .5s;
	-o-transition-timing-function: cubic-bezier(.33,0,.2,1);
	-o-transition-delay: 0;
	transition-property: transform;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(.33,0,.2,1);
	transition-delay: 0;
}

.site-brand-container {
	position: absolute;
	z-index: 2;
	width: 25%;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-ms-transition-property: -ms-transform;
	-o-transition-property: -o-transform;
	-webkit-transition-property: transform;
	-webkit-transition-duration: .5s;
	-webkit-transition-timing-function: cubic-bezier(.33,0,.2,1);
	-webkit-transition-delay: 0;
	-moz-transition-property: transform;
	-moz-transition-duration: .5s;
	-moz-transition-timing-function: cubic-bezier(.33,0,.2,1);
	-moz-transition-delay: 0;
	-ms-transition-property: transform;
	-ms-transition-duration: .5s;
	-ms-transition-timing-function: cubic-bezier(.33,0,.2,1);
	-ms-transition-delay: 0;
	-o-transition-property: transform;
	-o-transition-duration: .5s;
	-o-transition-timing-function: cubic-bezier(.33,0,.2,1);
	-o-transition-delay: 0;
	transition-property: transform;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(.33,0,.2,1);
	transition-delay: 0;
}

.site-brand-container {
	padding: 0 0 0 2.5%;
/* 	margin-top: 30px; */
}


@media all and (max-width: 1023px) {
	.site-brand-container h1 {
		padding: 0 20%;
	}
}

.main {
	width: 150%;
}

#article_list {
	width: 45%;
	padding: 30px 2.5%;
	position: absolute;
	background-color: #ededed;
	overflow-x: hidden;
	overflow-y: auto;
	top: 0;
	bottom: 0;
}
#article_list > :first-child {
	margin-top: 0px;
	line-height: 50px; /* Same as button */
}

.main > article {
	position: relative;
	z-index: 1;
	width: 66.66667%;
	overflow: hidden;
	-webkit-transform: translate3d(0%,0,0);
	-moz-transform: translate3d(0%,0,0);
	-ms-transform: translate3d(0%,0,0);
	-o-transform: translate3d(0%,0,0);
	transform: translate3d(0%,0,0);
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-ms-transition-property: -ms-transform;
	-o-transition-property: -o-transform;
	-webkit-transition-property: transform;
	-webkit-transition-duration: .5s;
	-webkit-transition-timing-function: cubic-bezier(.33,0,.2,1);
	-webkit-transition-delay: 0;
	-moz-transition-property: transform;
	-moz-transition-duration: .5s;
	-moz-transition-timing-function: cubic-bezier(.33,0,.2,1);
	-moz-transition-delay: 0;
	-ms-transition-property: transform;
	-ms-transition-duration: .5s;
	-ms-transition-timing-function: cubic-bezier(.33,0,.2,1);
	-ms-transition-delay: 0;
	-o-transition-property: transform;
	-o-transition-duration: .5s;
	-o-transition-timing-function: cubic-bezier(.33,0,.2,1);
	-o-transition-delay: 0;
	transition-property: transform;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(.33,0,.2,1);
	transition-delay: 0;
}

.main > article > header {
	width: 50%;
	height: 100vh;
	max-height: 100vh;
	overflow: hidden;
	position: absolute;
	display: inline-block;
	-webkit-transition-property: width;
	-webkit-transition-duration: 0s;
	-webkit-transition-timing-function: ease-in;
	-webkit-transition-delay: .2s;
	-moz-transition-property: width;
	-moz-transition-duration: 0s;
	-moz-transition-timing-function: ease-in;
	-moz-transition-delay: .2s;
	-ms-transition-property: width;
	-ms-transition-duration: 0s;
	-ms-transition-timing-function: ease-in;
	-ms-transition-delay: .2s;
	-o-transition-property: width;
	-o-transition-duration: 0s;
	-o-transition-timing-function: ease-in;
	-o-transition-delay: .2s;
	transition-property: width;
	transition-duration: 0s;
	transition-timing-function: ease-in;
	transition-delay: .2s;
}

.main > article > header > div.featured-img {
	height: 100%;
	z-index: 1;
	opacity: 1;
	-webkit-transition-property: opacity, left, top, width;
	-webkit-transition-duration: 1s, .1s, .1s, .1s;
	-webkit-transition-timing-function: cubic-bezier(.33,0,.2,1);
	-webkit-transition-delay: 0;
	-moz-transition-property: opacity, left, top, width;
	-moz-transition-duration: 1s, .1s, .1s, .1s;
	-moz-transition-timing-function: cubic-bezier(.33,0,.2,1);
	-moz-transition-delay: 0;
	-ms-transition-property: opacity, left, top, width;
	-ms-transition-duration: 1s, .1s, .1s, .1s;
	-ms-transition-timing-function: cubic-bezier(.33,0,.2,1);
	-ms-transition-delay: 0;
	-o-transition-property: opacity, left, top, width;
	-o-transition-duration: 1s, .1s, .1s, .1s;
	-o-transition-timing-function: cubic-bezier(.33,0,.2,1);
	-o-transition-delay: 0;
	transition-property: opacity, left, top, width;
	transition-duration: 1s, .1s, .1s, .1s;
	transition-timing-function: cubic-bezier(.33,0,.2,1);
	transition-delay: 0;
}

.main > article > #article_body {
	padding: 0 2.5%;		
}

.main > article > header > #abstract {
	top: 0px;
	padding: 0 5%;		
	padding-top: 7em;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 3;
	-webkit-user-select: none;
	-webkit-backface-visibility: hidden;
}

.main > article > #article_body {
	padding-top: 7em;
	width: 50%;
	height: 100%;
	margin-left: 50%;
	position: relative;
	height: 100vh;
	max-height: 100vh;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #fff;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-ms-transition-property: -ms-transform;
	-o-transition-property: -o-transform;
	-webkit-transition-property: transform;
	-webkit-transition-duration: .2s;
	-webkit-transition-timing-function: ease-in;
	-webkit-transition-delay: 0;
	-moz-transition-property: transform;
	-moz-transition-duration: .2s;
	-moz-transition-timing-function: ease-in;
	-moz-transition-delay: 0;
	-ms-transition-property: transform;
	-ms-transition-duration: .2s;
	-ms-transition-timing-function: ease-in;
	-ms-transition-delay: 0;
	-o-transition-property: transform;
	-o-transition-duration: .2s;
	-o-transition-timing-function: ease-in;
	-o-transition-delay: 0;
	transition-property: transform;
	transition-duration: .2s;
	transition-timing-function: ease-in;
	transition-delay: 0;
}

.main > article > footer {
	padding-bottom: 180px;
}



/***
 *  Panel buttons
 */
#abstract a.left-menu,
#article_list a.left-menu {
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    text-decoration: none;  
	padding: 0 71px;
	line-height: 50px;	
}

#abstract a.left-menu,
#article_list a.left-menu,
#article_body a.right-menu {
	position: absolute;
	top: 30px; /* offset from top */
	right: 30px;
}

#article_list a.left-menu,
#article_body a.right-menu {
	background: rgba(235,235,235,0.1);
	color: #000000;
}

#abstract a.left-menu {
	background: rgba(255,255,255,0.1);
	color: #ffffff;
	border: 0px;
}

#abstract a.left-menu:hover {
    background-color: rgba(255,255,255,0.2);
    box-shadow: inset 0 0 10px rgba(255,255,255,0.1);	
}

#article_list a.left-menu:hover {
    background-color: rgba(200,200,200,0.2);
    box-shadow: inset 0 0 10px rgba(235,235,235,0.1);	
}

#article_body a.right-menu {
	padding: 0 0.2em;
	line-height: 1.9em;
	transition: transform 0.3s;
}
#article_body a.right-menu:hover {
	transform: rotate(90deg);
}
#article_body a.right-menu.trigger--active {
	transform: rotate(90deg);
}

@media all and (max-width: 1023px) {
	#abstract a.left-menu {
		top: -170px;
		padding: 0 2em;
		right: 180px;

	}
	#article_body a.right-menu {
		padding: 0 2em;
		z-index: 1;
		color: #ffffff;
		background: rgba(255,255,255,0.1);
	}
	#article_body a.right-menu:hover {
	    background-color: rgba(255,255,255,0.2);
	    box-shadow: inset 0 0 10px rgba(255,255,255,0.1);	
	}

}

/*** END - Panel Buttons ***/


/***
 *  Push Content Right
 */

.is--pushed-right .site-brand-container {
	-webkit-transform: translate3d(200%,0,0);
	-moz-transform: translate3d(200%,0,0);
	-ms-transform: translate3d(200%,0,0);
	-o-transform: translate3d(200%,0,0);
	transform: translate3d(200%,0,0);
}
.is--pushed-right .site-brand-container * {
    cursor: w-resize !important
}
.is--pushed-right .main > article {
    -webkit-transform: translate3d(50%,0,0);
    -moz-transform: translate3d(50%,0,0);
    -ms-transform: translate3d(50%,0,0);
    -o-transform: translate3d(50%,0,0);
    transform: translate3d(50%,0,0)
}
/*.is--pushed-right .navigation-main-button {
    -webkit-transform: translate3d(100%,0,0);
    -moz-transform: translate3d(100%,0,0);
    -ms-transform: translate3d(100%,0,0);
    -o-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0)
}*/

.is--pushed-right .header {
    cursor: w-resize
}

.is--pushed-right .header .more-link {
    opacity: 0
}

.is--pushed-right .header * {
    cursor: w-resize !important
}

.is--pushed-right .header .description {
    opacity: 0
}

.is--pushed-right .header .social-tools {
    opacity: 0
}

.is--pushed-right .header .pagination {
    opacity: 0
}

.is--pushed-right .header .abstract-bottom .line-bottom {
    opacity: 0
}

@media all and (max-width: 1023px) {
    body:not(.is--pushed-right) #layout:not(.full-screen-main-image) .content {
        height: auto !important
    }
    .is--pushed-right .site-brand-container {
        -webkit-transform: translate3d(360%,0,0);
        -moz-transform: translate3d(360%,0,0);
        -ms-transform: translate3d(360%,0,0);
        -o-transform: translate3d(360%,0,0);
        transform: translate3d(360%,0,0)
    }

/*    .is--pushed-right .navigation-main-button {
        -webkit-transform: translate3d(90%,0,0);
        -moz-transform: translate3d(90%,0,0);
        -ms-transform: translate3d(90%,0,0);
        -o-transform: translate3d(90%,0,0);
        transform: translate3d(90%,0,0)
    }*/

    .is--pushed-right .main > article {
        -webkit-transform: translate3d(90%,0,0);
        -moz-transform: translate3d(90%,0,0);
        -ms-transform: translate3d(90%,0,0);
        -o-transform: translate3d(90%,0,0);
        transform: translate3d(90%,0,0)
    }
}

.ie8 .is--pushed-right .navigation-main-button,.ie9 .is--pushed-right .navigation-main-button {
    left: 100%
}

.ie8 .is--pushed-right .main .article,.ie9 .is--pushed-right .main .article {
    left: 50%
}
/*** END - Push Content Right ***/


/***
 *  Push Content Left
 */

.is--pushed-left .main-container {
    -webkit-transform: translate3d(-260px,0,0);
    -moz-transform: translate3d(-260px,0,0);
    -ms-transform: translate3d(-260px,0,0);
    -o-transform: translate3d(-260px,0,0);
    transform: translate3d(-260px,0,0)
}
/*
.is--pushed-left section {
    cursor: e-resize
}
*/
.ie8 .is--pushed-left .main-container,.ie9 .is--pushed-left .main-container {
    left: -260px
}

/*** END - Push Content Left ***/


/***
 *  Main Navigation
 */
#navigation_main {
	position: fixed;
	top: 0;
	right: 0;
	width: 260px;
	height: 100%;
	min-height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #0c0c0c;
	color: #ffffff;
	padding: 0 40px;
	overflow-x: hidden;
	overflow-y: scroll;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-overflow-scrolling: touch !important;
}

#navigation_main.is--invisible {
	display: none;
}

/*** END - Main Navigation ***/

/***
 *  Utilities
 */
#brand-wrapper {
	display: inline-block;
	text-align: center;
	font-size: 0.8rem;
	padding: 10px;
	background: rgba(255,255,255,1);
	position: relative;
}
#brand-wrapper h1 {
  padding: 1em 0.5em 0.5em 0.5em;
  margin: 0;
  text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(255, 255, 255, 0.8);
  font-size: 3em;
  font-family: 'Lobster', cursive;
}
#brand-wrapper a {
  text-decoration: none; 
  color: inherit;
  margin: 0px;
  padding: 0px;
  position: relative;
  display: block;
  height: 2.7em;
}
#brand-wrapper a span {
  line-height: 1em;
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  z-index:2;
}
#brand-wrapper a span:nth-child(2) {
  font-size: 0.8em;
  margin: 0 auto;
  top:-0.25em;
  width: 2.2em;
  z-index:1;
}
/*
#brand-wrapper a:before {
  content:"";
  display: block;
  position: absolute;
  z-index:0;
  top: 1.2em;
  width: 100%;
  border-bottom: 3px solid #000;
}
*/
#brand-wrapper a span:nth-child(3) {
  font-size: 1.2em;
  top:-0.3em;
}


/*** END - Utilities ***/



@media all and (max-width: 1500px) {
	/*
	.section .item-content-wrapper {
        width: 85%;
        margin-left: 7.5%;
        margin-right: 7.5%
    }
    */
}

@media screen and (max-width: 1024px){
	/*
    .article .section .item-content-wrapper {
        margin-top: 75px
    }
    */
}

@media all and (max-width: 1023px) {

	#article_list {
		width: 81%;
		padding: 30px 4.5%;
	}
	.main-container:not(.full-screen-main-image) {
	    height: auto !important;
	}	
	.main, .main > article {
	    width: 100%;
	}
	.main > article > header {
	    height: auto !important;
	    min-height: 265px;
	    position: relative;
	    width: 100%;
	    max-height: 638px;
	    overflow: visible;
	}
	.main > article > header > div.featured-img {
		/*
		top: 0em; /* 2*0.67em = 2*margin on h1 in header */
	    min-height: 265px;
	    width: 100%;
	    position: absolute;
	    overflow: hidden;
	}

	.main > article > header > #abstract {
		padding-bottom: 209px; /* article > header > #abstract {top} + artcile > header > h1 height; */
		position: relative;
	}

	.main > article > #article_body {
		padding-top: inherit;		
	    width: 100%;
	    height: auto !important;
	    max-height: 100% !important;
	    margin-left: 0px;
	    position: static;
	    overflow: visible;
	}
	/*		
    .article .section .item-content-wrapper {
        margin-top: 21px
    }
    
    .section .item-content-wrapper {
        width: 90%;
        margin: 80px 5%;
        border-top-color: transparent
    }
    */   
}

@media screen and (max-width: 640px) {
	/*
    .section .item-content-wrapper {
        padding-top: 0
    }
    */
}

@media screen and (max-width: 724px) {

}

@media screen and (max-width: 568px) {

}

@media screen and (max-width: 480px) {

}

@media print {

}